body{
	
	background-image: url('/static/metal_repeat.png');
	background-attachment: fixed;
	margin:0px;
	color:white;
}
.hiddenText{
	position:absolute;
	top:35%;
	right:10%;
	left:40%;
}
.expandingTitle {
	position:relative;	
	width:200px;
	text-align: center;
	padding:3px 10px 3px 10px;
	color:white; 
	font-size: 1.5em;
	text-shadow:black 0.1em 0.1em 0.2em;
	cursor: pointer;
}

.main{
	font-family: tahoma;
	margin:0px 50px 0px 50px;
	border-left:solid 1.3em #383838;
	border-right:solid 1.3em #383838;
	padding:40px;
	height:100%;
	background-color:#282828;
	background-attachment: fixed;
	color:#0099FF;
	opacity: 0.8;

}

#thumbnail a img{
	height:20%;
	display:inline-block;
	margin-right:20px;
	border:solid 2px #383838;
	opacity: 0.7;
}
#thumbnail a:hover img {
	opacity:1.5;
	
	box-shadow: black .2em .2em .2em;
}

ul#contact{
	list-style-type: none;
	float:right;
}

#contact li a{
	color:#c8c8c8;
}
#contact li{
	color:#c8c8c8;
}


img.pic{
	z-index:3;
	height:25%;
	float:left;
	margin-right:50px;
	box-shadow: black 5px 5px 5px;
}

#name{
	font-size: 3.5em;
	font-family: tahoma;
	text-shadow: black 0.1em 0.1em 0.2em;
}
#subTitle{
	font-family: tahoma;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.entry p{
	color:white;
}
#footer{
	color:#c8c8c8;
	position:absolute;
	bottom:1%;
	right:80px;
}

